{% extends "trips/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div id="content" name="content" class="container">
	<div class="col-4">
		<h1>Login</h1>
		<!--Login form-->
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form|crispy}}
			<p>Don't have an account yet? Create one <a href="{% url 'register' %}">here</a>!</p>
			<button type="submit">Login</button>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</form>
	</div>
</div>
{% endblock %}